/*
:host {
  background-color: #475A78;
  display: flow-root;
}
*/

h1 {
  text-align: center;
  margin-left: 8px;
}

.toolbarApp{
  color: #ffffff;
  background: #263238;
}

.appContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbarApp {
  background: #263238;
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenav {
  background-color: #ECEFF1;
  color: #263238;
}

.sidenav-menu-item {
  margin: 10px;
}

.toolbarFooter{
  color: #ffffff;
  background: #263238;
  text-align: center;
}

.toolbarFooter a {
  color: #ffffff;
}