<mat-card class="genericEvent-card">
  <mat-card-header>
    <mat-card-title (click)="openDetails()">{{
      event.info.name
    }}</mat-card-title>
    <mat-card-subtitle (click)="openDetails()"
      >Escribe abajo tu mensaje:</mat-card-subtitle
    >
  </mat-card-header>
  <textarea
    class="event-card-textarea"
    matInput
    placeholder="Escribe aqui tu mensaje"
    #message
    >{{ event.info.message }}</textarea
  >
  <mat-card-actions *ngIf="event.info.status">
    <button
      (click)="saveMessage(message.value)"
      mat-raised-button
      color="primary"
    >
      <b>Guardar</b>
    </button>
    <button (click)="whatsappShare()" mat-button>
      <mat-icon
        ><img class="max-size" src="assets/icons/whatsapp.png"
      /></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
