.genericEvent-card {
  max-width: 80%;
  margin: 5% auto;
  box-shadow: 0 2px 15px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.genericEvent-header-participants {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
  // text-align: center;
  justify-content: space-evenly;
  padding-bottom: 4%;
}

.genericEvent-header-participants p {
  display: flex;
  align-items: center;
  margin: inherit;
  width: max-content;
}

.genericEvent-header-participants {
  margin-right: 5px;
}

.genericEvent-header-participants img {
  max-width: 100%;
  max-height: 100%;
}

.mat-card-actions {
  text-align: center;
  margin: auto !important;
}

.mat-progress-spinner {
  float:right;
}