<mat-card class="genericEvent-card">
  <mat-card-header>
    <mat-card-title>{{ event.info.name }}</mat-card-title>
    <mat-card-subtitle>Tu mensaje se guarda automáticamente:
   </mat-card-subtitle>
   <mat-progress-spinner
   *ngIf="isRetrievingData"
   class="saving-spinner"
   [color]="'Accent'"
   [mode]="'indeterminate'"
   [diameter]="25"
   [strokeWidth]="3"
   >
  </mat-progress-spinner>
   <mat-icon *ngIf="!isRetrievingData">
    <img class="max-size" src="assets/icons/tick.png"/>
  </mat-icon>
  </mat-card-header>
  <textarea
    (input)="saveMessage(message.value)"
    class="event-card-textarea"
    matInput
    placeholder="Escribe aquí tu mensaje"
    #message
    >{{ event.info.message }}</textarea
  >
  <mat-card-actions>
    <button (click)="whatsappShare()" mat-button>
      <mat-icon
        ><img class="max-size" src="assets/icons/whatsapp.png"
      /></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
