<h1 mat-dialog-title class="warn-background-color">Ups! Algo ha ido mal</h1>
<div mat-dialog-content>
  <p *ngIf="!justify">{{data.message}}</p>
  <p *ngIf="justify" class="justify-endline">{{data.message}}</p>
</div>
<div class="flex-space-evenly space-top">
  <button *ngIf="data.navigateTo !== ''" routerLink="/{{data.navigateTo}}" mat-raised-button (click)="onNoClick()" color="primary">
    Recargar la página<mat-icon>refresh</mat-icon>
  </button>
  <button *ngIf="data.navigateTo === ''" mat-raised-button (click)="onNoClick()" color="primary">Continuar</button>
</div>
