<!--
<form [formGroup]="inputFormGroup">
-->
<div mat-dialog-content>
  <form [formGroup]="inputFormGroup">
    <mat-form-field>
      <input type="text" matInput [placeholder]="data.placeholder" formControlName="value" required>
    </mat-form-field>
  </form>
</div>
<!--
</form>
-->
<!--
<div layout="row" layout-align="between center">
-->
<div class="flex-space-evenly space-top">
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button (click)="onSave()" color="primary">Guardar</button>
</div>
